*.csv
*.mat
*.png
*.svg
*.fig
*.sfit
*.xlsx
*.jpeg
*.docx 
*.DS_Store
*.gsheet
*.lyx~
*.lyx#
*.zip
*.pdf
*.asv

**/Icon/*
**/Icon/**
**/Icon\*
**/Icon$'\r'/**
Icon$'\r'

**/mat/**
**/sfit/**
**/csv/**
**/badFiles/**
**/png/**
**/trash/**
